<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active px-3 py-1 mx-auto bg-dark bg-opacity-75">            
            <img src="https://help.nflxext.com/43e0db2f-fea0-4308-bfb9-09f2a88f6ee4_what_is_netflix_1_en.png"
                class="d-block w-60 mx-auto" width="90%" height="500px" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Netflix</h5>
                <p></p>
            </div>        
        </div>
        <div class="carousel-item px-3 py-1 bg-dark bg-opacity-75">
            <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2020/04/hbo-max-logo-1922879.jpg"
                class="d-block w-60 mx-auto rounded" alt="..." width="90%" height="500px">
            <div class="carousel-caption d-none d-md-block">
                <h5>HBO Max</h5>
                <p></p>
            </div>
        </div>
        <div class="carousel-item px-3 py-1 bg-dark bg-opacity-75">
            <img src="https://lumiere-a.akamaihd.net/v1/images/introducing-dplus-social_10646ca8.jpeg"
                class="d-block w-60 mx-auto rounded" alt="..." width="90%" height="500px">
            <div class="carousel-caption d-none d-md-block">
                <h5>Disney Plus</h5>
                <p></p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<span class="d-block p-2 text-bg-primary fs-2 text-center align-middle">Plataformas Disponibles</span>