<div class="container-fluid p-4">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Streaming Colombia, Inc</span>
    </div>
    <p class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-center">
      Somos una empresa que vende plataformas de Streaming a bajo costo
    </p>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3" id="nosotros" ><a href="https://www.tiktok.com/@erickpunk666/video/6989380633248337158?is_from_webapp=v1&item_id=6989380633248337158&lang=es" target="_blank" class="text-muted"><i
            class="bi bi-tiktok"></i></a></li>
      <li class="ms-3" id="#nosotros"><a href="https://www.instagram.com/trollface_smackhead/?hl=es" target="_blank" class="text-muted"><i
            class="bi bi-instagram"></i></a></li>
      <li class="ms-3"><a href="https://www.facebook.com/gmail.net21/videos/never-gonna-give-you-up-rick-astley/471344660006374/" target="_blank" class="text-muted"><i class="bi bi-facebook"></i></a>
      </li>
    </ul>
  </footer>
</div>